{:firebase
 {:apiKey "AIzaSyAkgqCM8D3tIXSa4syOznM9R1iWiYsNrYo",
  :authDomain "probcomp-caliban.firebaseapp.com",
  :databaseURL "https://probcomp-caliban-default-rtdb.firebaseio.com",
  :projectId "probcomp-caliban",
  :storageBucket "probcomp-caliban.appspot.com",
  :messagingSenderId "110275315150"
  :appId "1:110275315150:web:1b9223380683724a12979f"
  :measurementId "G-VE7SK9ZG6J"}}