{:deps {}
 :tasks
 {;; compile and watch server
  dev (run '-dev {:parallel true})
  -dev {:depends [dev:watch dev:hot]}
  dev:watch (shell "bun squint watch")
  dev:hot (do (Thread/sleep 1000)                           ;; wait for compilation
              (shell (->> ["bun --hot out/inspector/server.js" *command-line-args*]
                       flatten
                       (clojure.string/join " "))))

  ;; create executable
  ;; https://bun.sh/docs/bundler/executables
  compile (shell "bun squint compile")
  release (do (run 'compile)
              (shell "bun build ./out/inspector/server.js --compile --hot --outfile ./out/server"))
  run-release (do (run 'release)
                  (shell "./out/server"))}}